.ask--contact{
    color: #1e91ff;
    text-align: left;
    .fas{
        padding-right: 10px;
    }
}

.ask--phone:hover{
    cursor : pointer; 
    text-decoration: underline;
}
.ask--mail:hover{
    cursor : pointer; 
    text-decoration: underline;
}