.kpi--value{
    background: #1b365d;
border-radius: .2rem;
box-sizing: border-box;
color: #fff;
display: inline-table;
font-family: WorkSans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,oxygen,ubuntu,cantarell,Open Sans,Helvetica Neue,sans-serif;
font-size: .9333333333rem;
font-weight: 600;
line-height: 1.3333333333rem;
margin-right: .3rem;
min-width: 1.3333333333rem;
padding: 0 .2rem;
text-align: center;
margin-right : .53333333rem
}
