.map-menu-filters--transactions-filter {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px #c1c1c1 solid;
  border-radius: 23px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;  
}