.pro-filter-form-input--form {
  input {
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 8px;
    margin-top: 5px;
  }
  button {
    margin-left: 10px;
    padding: 2px 10px;
    background: #2bd03e;
    border: 2px solid #2bd03e;
    color: white;
    border-radius: 5px;
  }
}