.error--404-img{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 2rem;
}

.error--not-found{
    p{
    text-align : center;
    }
    position: relative;
}

.not-found--container{
    position: relative;
    top: 80px;
}